header{

    background-color: white;
    margin-bottom: 2px;
    height: 50px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    display: flex;
    justify-content: space-between;

}


#headerTitle{
    color: black;
    text-align: center;

    padding-top: 12px;
    font-size: 18px;
    font-weight: 800;

}
#headerRight{
    float: right;
    color: black;
    text-align: center;
    padding-top:12px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

