.link {
    text-decoration: none;
}
.paddingDetailedFeatures{
    padding: 2rem 0;


}
.borderCountriesTitle{
    text-align: center;
    padding: 0.5rem 0;
    margin-right: 10px;
}
@media (max-width: 576px) {
    .paddingDetailedFeatures{
        padding:  0;


    }
    .borderCountriesTitle{
        flex-basis: 100%;
        text-align: left;

    }


}
